Import statements

In [20]:
import pandas as pd 
import numpy as np

In [21]:
df = pd.read_parquet('../data/train_data_merged.parquet')

In [22]:
df = df.sort_values('TransactionDT')

Exploratory Data Analysis

In [23]:
df = df.drop('TransactionID',axis=1)

In [24]:
df.head()

,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,card6,...,id_31,id_32,id_33,id_34,id_35,id_36,id_37,id_38,DeviceType,DeviceInfo
0,0,86400,68.5,W,13926,NaN,150.0,discover,142.0,credit,...,None,NaN,None,None,None,None,None,None,None,None
1,0,86401,29.0,W,2755,404.0,150.0,mastercard,102.0,credit,...,None,NaN,None,None,None,None,None,None,None,None
2,0,86469,59.0,W,4663,490.0,150.0,visa,166.0,debit,...,None,NaN,None,None,None,None,None,None,None,None
3,0,86499,50.0,W,18132,567.0,150.0,mastercard,117.0,debit,...,None,NaN,None,None,None,None,None,None,None,None
4,0,86506,50.0,H,4497,514.0,150.0,mastercard,102.0,credit,...,samsung browser 6.2,32.0,2220x1080,match_status:2,T,F,T,T,mobile,SAMSUNG SM-G892A Build/NRD90M

In [25]:
df.isna().sum()

isFraud                0
TransactionDT          0
TransactionAmt         0
ProductCD              0
card1                  0
                   ...
id_36             449555
id_37             449555
id_38             449555
DeviceType        449730
DeviceInfo        471874
Length: 433, dtype: int64

In [26]:
df.shape

(590540, 433)

In [27]:
df.duplicated().sum()

3

In [28]:
df.describe()

,isFraud,TransactionDT,TransactionAmt,card1,card2,card3,card5,addr1,addr2,dist1,...,id_17,id_18,id_19,id_20,id_21,id_22,id_24,id_25,id_26,id_32
count,590540.000000,5.905400e+05,590540.000000,590540.000000,581607.000000,588975.000000,586281.000000,524834.000000,524834.000000,238269.000000,...,139369.000000,45113.000000,139318.000000,139261.000000,5159.000000,5169.000000,4747.000000,5132.000000,5163.000000,77586.000000
mean,0.034990,7.372311e+06,135.027176,9898.734658,362.555488,153.194925,199.278897,290.733794,86.800630,118.502180,...,189.451377,14.237337,353.128174,403.882666,368.269820,16.002708,12.800927,329.608924,149.070308,26.508597
std,0.183755,4.617224e+06,239.162522,4901.170153,157.793246,11.336444,41.244453,101.741072,2.690623,371.872026,...,30.375360,1.561302,141.095343,152.160327,198.847038,6.897665,2.372447,97.461089,32.101995,3.737502
min,0.000000,8.640000e+04,0.251000,1000.000000,100.000000,100.000000,100.000000,100.000000,10.000000,0.000000,...,100.000000,10.000000,100.000000,100.000000,100.000000,10.000000,11.000000,100.000000,100.000000,0.000000
25%,0.000000,3.027058e+06,43.321000,6019.000000,214.000000,150.000000,166.000000,204.000000,87.000000,3.000000,...,166.000000,13.000000,266.000000,256.000000,252.000000,14.000000,11.000000,321.000000,119.000000,24.000000
50%,0.000000,7.306528e+06,68.769000,9678.000000,361.000000,150.000000,226.000000,299.000000,87.000000,8.000000,...,166.000000,15.000000,341.000000,472.000000,252.000000,14.000000,11.000000,321.000000,149.000000,24.000000
75%,0.000000,1.124662e+07,125.000000,14184.000000,512.000000,150.000000,226.000000,330.000000,87.000000,24.000000,...,225.000000,15.000000,427.000000,533.000000,486.500000,14.000000,15.000000,371.000000,169.000000,32.000000
max,1.000000,1.581113e+07,31937.391000,18396.000000,600.000000,231.000000,237.000000,540.000000,102.000000,10286.000000,...,229.000000,29.000000,671.000000,661.000000,854.000000,44.000000,26.000000,548.000000,216.000000,32.000000

In [29]:
x = df.drop(columns=['isFraud'],axis=1)
y = df['isFraud']

In [34]:
df['TransactionDT'] = df['TransactionDT']/360
df['TransactionDT']

0          0.066667
1          0.066667
2          0.066720
3          0.066743
4          0.066748
            ...
590535    12.199882
590536    12.199883
590537    12.199907
590538    12.199914
590539    12.199947
Name: TransactionDT, Length: 590540, dtype: float64

Train test split

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold

Feature Selection